version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: simco-stats-api
    ports:
      - "3000:3000"
      - "9229:9229"
    env_file:
      - ./.env
    environment:
      - NODE_ENV=dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: always
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    container_name: simco-stats-redis
    ports:
      - "6379:6379"
    restart: always

  postgres:
    image: "postgres:17-alpine"
    container_name: simco-stats-postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=simco_stats_db
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: